<div id="maincarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <% carouselList.forEach(function (data, number) { %>
        <% var cActive = number === 0 ? 'active' : null; %>
        <li data-target="#maincarousel" data-slide-to="<%= number %>" class="<%= cActive %>"></li>
        <% }); %>
    </ol>
    <div class="carousel-inner">
        <% carouselList.forEach(function (data, number) { %>
        <% var cActive = number === 0 ? 'active' : null; %>
        <div class="item <%= cActive %>">
            <a href="<%= data.carouselUrl %>">
                <img src="<%= data.carouselImg %>" alt="">
            </a>
        </div>
        <% }); %>
    </div>
    <a href="#maincarousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#maincarousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>