<div class="showcase">
    <div class="showcase_time">
                    <span class="pull-right">
                        <a href="<%= showcaseValue.showcaseTagUrl %>"
                           class=" text-center right"><%= showcaseValue.showcaseTag %></a>
                    </span>
        <%= showcaseValue.showcaseTime %>
    </div>
    <div class="showcase_img">
        <img class="" src="<%= showcaseValue.showcaseImg %>" alt="">
    </div>
    <div class="showcase_text">
        <h4>
            <a href="<%= showcaseValue.showcaseTitleUrl %>"><%= showcaseValue.showcaseTitle %></a>
        </h4>
        <div class="showcase_info"><%= showcaseValue.showcaseInfo %></div>
    </div>
</div>