<div class="showcase">
    <div class="showcase_time">
        <span class="pull-right">
            <a href="<%= showcaseValue.url%>" class=" text-center right"><%= showcaseValue.tags %></a>
        </span>
        <%= showcaseValue.createTime %>
    </div>
    <div class="showcase_img">
        <a href="<%= showcaseValue.url %>" target="_blank">
            <img class="" src="<%= showcaseValue.imgUrl %>" alt="">
        </a>
    </div>
    <div class="showcase_text">
        <h4>
            <a href="<%= showcaseValue.url %>" target="_blank"><%= showcaseValue.title %></a>
        </h4>
        <div class="showcase_info"><%= showcaseValue.info %></div>
    </div>
</div>